.setButton {
 background-color: skyblue;
 width: 140px;
 height: 40px;
 border-radius: 10px;
 position: relative;
 right: 30px;
 top: 40px;
 left: 30px;
 border-color: #233c3f;
}

.max {
 position: relative;
 bottom: 10px;
 left: -30px;
 font-family: "Cambria Math";
 font-size: x-large;
}

.start {
 top: 40px;
 left: -30px;
 font-family: "Cambria Math";
 position: relative;
 font-size: x-large;
}

.inputMax {
 position: relative;
 left: 120px;
 height: 25px;
 width: 90px;
 top: -65px;
}
.inputMaxErr {
 background-color: #3f1924;
 border-color: #3f1924;
 position: relative;
 left: 120px;
 height: 25px;
 width: 90px;
 top: -65px;
}

.inputStart {
 position: relative;
 left: 25px;
 height: 25px;
 width: 90px;
 top: 10px;
}
.inputStartErr {
 background-color: #3f1924;
 border-color: #3f1924;
 position: relative;
 left: 25px;
 height: 25px;
 width: 90px;
 top: 10px;
}
