.App {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  display:flex;
  flex-direction:column;
  background-color: #15173f;
  width: 200px;
  height: 130px;
  border-radius: 20px;
  left: 150px;
}
.calc {
  position: fixed;
  padding: 50px;
  display:flex;
  background-color: #15173f;
  width: 200px;
  height: 130px;
  border-radius: 20px;
  left: 550px;
  top: 60px;
}

.settings {
  position: fixed;
  padding: 50px;
  top: 60px;
  background-color: #15173f;
  width: 200px;
  height: 130px;
  border-radius: 20px;
  left: 130px;
}



.samurai {
  position: fixed;
  left: 430px;
  top: 100px;
  width: 120px;
  height: 130px;
  background: url(./samurai.svg) no-repeat center;
  background-size: contain;
}
