
.calc {
  position: fixed;
  padding: 50px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: #3f599a;
  width: 200px;
  height: 130px;
  border-radius: 20px;
  left: 550px;
  top: 60px;
}

.settings {
  position: fixed;
  padding: 50px;
  top: 60px;
  background-color: #3f599a;
  width: 200px;
  height: 130px;
  border-radius: 20px;
  left: 130px;
}



.samurai {
  position: fixed;
  left: 430px;
  top: 100px;
  width: 120px;
  height: 130px;
  background: url(./samurai.svg) no-repeat center;
  background-size: contain;
}
